recursive-include printk_timestamp_converter *.py
include ChangeLog
include README.md
include README.rst
include LICENSE
include setup.py
include dmesg_format_dates
include dmesg_get_drifts
include printk_time_convert
include printk_mark_drift
recursive-include doc *.html
